@charset "UTF-8";


/*Página index*/

h1{
    color: white;
}

a{
    color: green;
}
.cover-container > figure > img{
    width: 40%;
    
}

main{
    text-align: center;
}
 h3.title {
    font-size: 1.2em;   
}

abbr{
    color: #25cdb3
}
@media screen and (min-width: 992px){
    .cover-container figure img{
        width: 60%;
        text-align: center;
    }
    .cover-container , .section-video{
        display: inline-block;
        width: 30%;
    }
    main .section-azure blockquote{
        width: 70%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
       
    }
}