/*estilos da pg professores*/
px
.content-container {
    padding: 20px;
}
.content-container > figure img{
    width: 98%;
    border-radius: 20px;
    border: 5px double;
}
.content-container h2.title{
    font-size: 1.5em;
}

@media screen and(min-width: 992px ) {
 main .content-container article  p  {
        margin: 0 auto 10px;
    }
}

